# destination of modelcard files
output

# build artifacts
model-metadata-collection
*.exe
*.exe~
*.dll
*.so
*.dylib

data/hugging-face*

coverage.out

build

cmd/model-extractor/model-extractor

.claude/
